<!-- <div>
  @for(x of arr;track x) { @if(x%2===0) {
  <h1>{{ x }}</h1>
  } @else {
  <p>not divisble by 2</p>
  } }
</div>

<h1 *ngFor="let x of arr">{{ x }}</h1>

<app-comp1 name="vivek" (sendData)="handleReceiveData($event)"></app-comp1> -->

<h1>{{ title }}</h1>
<!-- <app-test></app-test>
<app-login></app-login> -->

<!-- {{ title }}
{{ a }}
{{ b }}
{{ c }}
{{ c() }}
{{ d }}
{{ d() }} -->

<!-- <input
  type="text"
  placeholder="enter ur name"
  value="title"
  (keydown)="handleInput($event)"
/> -->
<!-- <input [value]="'foo'" (change)="changeFn($event)" /> -->
<!-- property binding
attributr binding -->

<!-- event handling -->
<!-- click
change
keydown
keyup
focusout
mousein 
input
mouseover -->
<!-- <button (click)="handleClick()">change values</button> -->
<!-- <button>change values</button> -->

<app-child [name]="title" (sendData)="getDataFromChild($event)"></app-child>
